<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.equipo13.reservacancha">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReservaCancha">
        <activity android:name=".views.court.CourtProfileActivity"></activity>
        <activity android:name=".views.home.CourtsActivity" />
        <activity android:name=".views.util.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.auth.LoginActivity" />
        <activity android:name=".views.auth.RegisterActivity" />
        <activity android:name=".views.user.UserActivity" />
    </application>

</manifest>